/* CSS del index.html */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
background: #131313;
color: white;
}

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 18px 56px;
background: #1c1c1c;
}

.logo {
color: whitesmoke;
font-size: 22px;
font-weight: bold;
transition: 0.3s;

}

.logo:hover {
color: #ef4444;
}

.links {
display: flex;
gap: 30px;
align-items: center;
}

.links a{
text-decoration: none;
color: white;
transition: 0.3s;
}

.links a:hover {
color: #ef4444;
}

.hero {
text-align: center;
padding: 120px 20px 80px;
margin: auto;
max-width: 800px;
}

.hero h1 {
font-size: 60px;
color: white;
margin-bottom: 20px;
}

.hero p {
font-size: 25px;
color: #a1a1a1;
}

.btn {
display: inline-block;
font-size: 15px;
margin-top: 30px;
padding: 12px 30px;
border-radius: 8px;
background: white;
color: black;
text-decoration: none;
font-weight: 600;
transition: 0.3s;
}

.btn:hover {
background: #ef4444;
color: white;
}

button {
margin-top: 30px;
padding: 12px 30px;
border-radius: 8px;
border: none;
color: black;
cursor: pointer;
transition: 0.3s;
background: white;
font-weight: 600;
}

button:hover {
background: #ef4444;
}

.cards {
display: flex;
justify-content: center;
gap: 55px;
padding: 10px 20px;
}

.card p {
margin-top: 15px;
}

.card {
background: #1c1c1c;
padding: 25px;
width: 240px;
border-radius: 12px;
text-align: center;
transition: 0.3s;
border: 1px solid rgba(255,255,255,0.05);
cursor: pointer;
}

.card:hover {
transform: translateY(-5px);
border-color: #ef4444;
}

.emojis {
margin-bottom: 18px;
font-size: 24px;
}

.promo-banner {
margin: 80px auto;
max-width: 900px;
padding: 40px;
border-radius: 16px;
background: linear-gradient(
    120deg,
    #000,
    #1a0000,
    #000
);
border: 1px solid rgba(239,68,68,0.3);
box-shadow: 0 0 20px rgba(239,68,68,0.2);
position: relative;
overflow: hidden;
text-align: center;
transition: 0.3s;
}

.promo-banner::before {
content: "";
position: absolute;
inset: 0;
background: radial-gradient(circle, rgba(239,68,68,0.2), transparent 70%);
opacity: 0.5;
pointer-events: none;
}

.promo.content {
position: relative;
}

.tag {
color: #ef4444;
font-weight: bold;
letter-spacing: 2px;
margin-bottom: 10px;
}

.promo-banner h2 {
font-size: 32px;
margin-bottom: 20px;
}

.promo-banner:hover {
transform: translateY(-5px);
box-shadow: 0 0 30px rgba(239,68,68,0.3);
transition: all 0.3s ease;
}

footer {
text-align: center;
padding: 40px;
background: #1c1c1c;
color: gray;
}

footer a {
    text-decoration: none;
    color: #ef4444;
}

/* CSS del index.html */

/* CSS de productos.html */

.h1_productos {
text-align: center;
padding: 60px;
font-size: 55px;
}

.productos-grid {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 60px;
padding: 40px;
}

.oferta {
background: black;
padding: 80px 40px;
text-align: center;
margin: 80px auto;
max-width: 900px;
border-radius: 16px;
position: relative;
overflow: hidden;
transition: 0.3s;
}

.oferta:hover {
transform: translateY(-5px);
box-shadow: 0px 0px 6px white;
}

.oferta::before {
content: "";
position: absolute;
inset: 0;
background: radial-gradient(circle, rgba(239,68,68,0.15), transparent 70%);
opacity: 0.6;
}

.oferta * {
position: relative;
}

.badge {
color: #ef4444;
font-weight: bold;
margin-bottom: 15px;
letter-spacing: 2px;
}

.oferta h2 {
font-size: 40px;
margin-bottom: 15px;
}

.descripcion {
color: #a1a1a1;
font-size: 18px;
margin-bottom: 20px;
}

.precio-antiguo {
text-decoration: line-through;
color: gray;
margin-bottom: 5px;
}

.precio {
font-size: 40px;
font-weight: bold;
color: #ef4444;
}

.oferta button {
margin-top: 25px;
font-size: 18px;
}

.oferta button:hover {
background: #ef4444;
color: white;
}

/* CSS de productos.html */

/* CSS de ofertas.html */

.titulo-ofertas {
    font-size: 50px;
    text-align: center;
    background: linear-gradient(
        135deg,
        #000000,
        #1a1a1a,
        #3b0000
    );
    padding: 60px;
}

.oferta-principal1 {
        background: linear-gradient(
        135deg,
        #000000,
        #1a1a1a,
        #3b0000
    );
    padding: 80px 40px;
    text-align: center;
    margin: 60px auto;
    max-width: 900px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.oferta-principal1:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 6px white;
}

.oferta-principal1 h2 {
    font-size: 35px;
    margin-bottom: 25px;
}

.description {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.precio-antiguo {
    margin-bottom: 15px;
}

.precio-nuevo {
    font-size: 45px;
    font-weight: bold;
    color: #ef4444;
}

.oferta-principal2 {
        background: linear-gradient(
        135deg,
        #000000,
        #1a1a1a,
        #3b0000
    );
    padding: 80px 40px;
    text-align: center;
    margin: 60px auto;
    max-width: 900px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.oferta-principal2:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 6px white;
}

.oferta-principal2 h2 {
    font-size: 35px;
    margin-bottom: 25px;
}

.titulo-secundarias {
    text-align: center;
    background: linear-gradient(
        to right,
        #131313,
        #1c1c1c,
        #131313
    );
    padding: 60px;
    margin: 40px 0 40px 0;
}

.titulo-secundarias h2 {
    font-size: 40px;
}

.oferta-secundaria {
    display: flex;
    justify-content: center;
    gap: 90px;
    padding: 15px 30px;
}

.oferta-card {
    background: #1c1c1c;
    padding: 25px;
    width: 240px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid rgba(255,255,255,0.05);
    cursor: pointer;
}

.oferta-card:hover {
    transform: translateY(-5px);
    border-color: #ef4444;
}

.oferta-card p {
    margin-bottom: 15px;
}

.oferta-card button {
    margin-top: 10px;
}

.oferta-card .precio-antiguo {
    margin: 10px;
}

.titulo-flash {
    text-align: center;
    background: linear-gradient(
        120deg,
        #000 0%,
        #1a0000 40%,
        #000 100%
    );
    
    border: 1px solid #ef4444;
    box-shadow: 0 0 20px rgba(239,68,68,0.4);
    padding: 60px;
    margin: 40px 0 40px 0;
    animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px rgba(239,68,68,0.2);
    }
    to {
        box-shadow: 0 0 30px rgba(239,68,68,0.4);
    }

}

.titulo-flash h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.titulo-flash p {
    font-size: 16px;
    font-weight: bold;
}

.oferta-flash {
    display: flex;
    justify-content: center;
    gap: 90px;
    padding: 15px 30px;
}

.ofertas-flash {
    background: radial-gradient(circle at 20% 30%, rgba(239,68,68,0.25), transparent 40%),
                radial-gradient(circle at 80% 70%, rgba(239,68,68,0.15), transparent 50%),
                #000;
    border: 1px solid rgba(239,68,68,0.3);
    box-shadow: 0 0 25px rgba(239,68,68,0.2);
    padding: 40px;
    width: 240px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid rgba(255,255,255,0.05);
    cursor: pointer;
    margin-bottom: 30px;
}

.ofertas-flash:hover {
    transform: translateY(-5px);
}

.ofertas-flash h3{
    margin-bottom: 20px;
    color: #ef4444;
}


/* CSS de ofertas.html */

/* CSS de contacto.html */

.contact-hero {
    text-align: center;
    padding: 100px 20px 60px;
}

.contact-hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.contact-hero p {
    color: #a1a1a1;
}

.contact-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 60px 40px;
    max-width: 1100px;
    margin: auto;
}

.contact-info {
    background: rgba(28,28,28,0.6);
    padding: 40px;
    border-radius: 16px;
    width: 300px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.05);
}

.contact-info h2 {
    margin-bottom: 20px;
}

.contact-info p {
    color: #a1a1a1;
    margin-bottom: 10px;
}

.contact-form {
    flex: 1;
    background: rgba(28,28,28,0.6);
    padding: 40px;
    border-radius: 16px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.05);
}

.contact-form h2 {
    margin-bottom: 30px;
}

.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 14px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 8px;
    color: white;
    outline: none;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-65%);
    color: #a1a1a1;
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s;
    padding: 0 5px;
}

.input-group input:focus + label,
.input-group textarea:focus + label,
.input-group input:valid + label,
.input-group textarea:valid + label {
    top: -8px;
    font-size: 12px;
    color: #ef4444;
}

.contact-form textarea {
    height: 120px;
    resize: none;
}

.contact-form button {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: none;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #ef4444;
    color: white;
    box-shadow: 0 0 20px rgba(239,68,68,0.4);
}

/* CSS de contacto.html */

/* CSS del carrito */

.carrito-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%) scale(0.9);
    width: 400px;
    max-height: 95%;
    background: #111;
    border-radius: 16px;
    padding: 20px;
    opacity: 0;
    transition: 0.3s;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.carrito-modal.activo {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.cerrar-carrito {
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}

.cerrar-carrito {
    color: #ef4444;
}

.carrito-header span {
    cursor: pointer;
    font-size: 18px;
}

.carrito-icono {
    cursor: pointer;
}

#carritoItems {
    flex: 1;
    overflow-y: auto;
}

.item {
    display: flex;
    justify-content: space-between;
    background: #1c1c1c;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-items: center;
    transition: 0.2s;
}

.item:hover {
    border: 1px solid #ef4444;
}

.item button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    font-size: 16px;
    background: none;
    border: none;
    color: #ef4444;
    cursor: pointer;
}

.item button {
    margin-top: 0;
}


.carrito-footer {
    border-top: 1px solid #333;
    padding-top: 10px;
    text-align: center;
    margin-top: 10px;
}

.carrito {
    position: relative;
}

.carrito-dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    width: 320px;
    background: #111;
    border-radius: 12px;
    padding: 15px;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: 0.3s;
    z-index: 1000;
}

.carrito-dropdown.activo {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}

.carrito-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.carrito-header span {
    cursor: pointer;
}

#carritoItems {
    max-height: 250px;
    overflow-y: auto;
}

.acciones button {
    margin-top: 0;
    padding: 5px 8px;
    font-size: 14px;
}

.carrito-footer {
    border-top: 1px solid #333;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}

/* CSS del carrito */

/* CSS adaptable a cel */

@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .links {
        flex-wrap: wrap;
        gap: 15px;
    }

    .carrito {
        align-self: flex-end;
    }

    .hero h1 {
        font-size: 35px;
    }

    .hero p {
        font-size: 18px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .card {
        width: 90%;
    }

    .promo-banner {
        margin: 40px 20px;
        padding: 30px 20px;
    }

    .promo-banner h2 {
        font-size: 24px;
    }

    .h1_productos {
        font-size: 35px;
        padding: 30px;
    }

    .productos-grid {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .oferta {
        margin: 40px 20px;
        padding: 40px 20px;
    }

    .titulo-ofertas {
        font-size: 35px;
        padding: 30px;
    }

    .oferta-principal1,
    .oferta-principal2 {
        margin: 40px 20px;
        padding: 40px 20px;
    }

    .oferta-principal1 h2,
    .oferta-principal2 h2 {
        font-size: 24px;
    }

    .oferta-secundaria {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .oferta-card {
        width: 90%;
    }

    .titulo-secundarias h2 {
        font-size: 28px;
    }

    .titulo-flash {
        padding: 30px;
    }

    .titulo-flash h2 {
        font-size: 28px;
    }

    .oferta-flash {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .ofertas-flash {
        width: 90%;
    }

    .contact-container {
        flex-direction: column;
        gap: 30px;
        padding: 30px 20px;
    }

    .contact-info {
        width: 100%;
    }

    .contact-form {
        width: 100%;
    }

    .carrito-modal {
        width: 90%;
    }
}

@media (max-width: 768px) {

    .carrito-modal {
        width: 90%;
        max-height: 85vh;
        padding: 15px;
    }

    .carrito-header h3 {
        font-size: 18px;
    }

    #carritoItems {
        max-height: 300px;
        overflow-y: auto;
    }

    .item {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .item div {
        width: 100%;
    }

    .acciones {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .acciones button {
        flex: 1;
        margin: 0 3px;
    }

    .carrito-footer {
        font-size: 14px;
    }

    .btn-pagar {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {

    .carrito-dropdown {
        position: fixed;
        top: 70px;
        right: 10px;
        left: 10px;
        width: auto;
        max-width: 100%;
        z-index: 2000;
    }

}

/* CSS adaptable a cel */

